<!DOCTYPE html>
<html lang="pt-br">

 <head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-language" content="pt-br" />
    
<!--    &lt;!&ndash;[if lt IE 9]>-->
<!--        <script src="js/html5shiv.js"></script>-->
<!--    <![endif]&ndash;&gt;       -->

	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/fonts-icones.css">

<!--	<title>Templates de Formulário de Contato Html Pronto Grátis</title>-->
 
 </head>

<body>
    
<header class="main_header container">        
    <div class="content">
    
        <div class="main_header_logo">
            <img src="img/logo.png" alt="logo.png" title="Loop Nerd"/>
        </div>
    
    </div>
</header>

<main class="main_content container">
        
    <section class="section-seu-codigo container">
        
        <div class="content">
            
            <h1 class="section_title"><i class="icon icon-file-text-1"></i> Fale Conosco</h1>
            
            <div class="box-artigo">
                
            <div class="formularioContato">
                
                <form action="#" method="post" enctype="multipart/form-data">

                    <label>
                        <span><i class="icon icon-user-1"></i> Nome</span>
                        <input type="text" name="name" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-file-text"></i> Documento</span>
                        <input type="text" name="document" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-file-text"></i> Tipo de documento</span>
                        <input type="text" name="document_type" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-email"></i> Email</span>
                        <input type="text" name="email" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-phone"></i> Telefone</span>
                        <input type="text" name="phone" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-male"></i> Genêro</span>
                        <input type="text" name="gender" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-male"></i> identidade de genêro</span>
                        <input type="text" name="gender_identity" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-user-1"></i> Nome Social (Se possuir)</span>
                        <input type="text" name="social_name" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-lock"></i> Senha</span>
                        <input type="text" name="password" required="">
                    </label>

                    <label>
                        <span><i class="icon icon-lock"></i> Confirme a senha</span>
                        <input type="text" name="confirmPassword" required="">
                    </label>
                   
                    <input type="hidden" name="acao" value="enviar" />
                    <button class="btn-envia" title="Enviar"><b class="icon icon-paper-plane-o"> Enviar</b></button>

                
                </form>

            </div><!--Formulario Contato-->


            </div><!--Box Artigo-->


        <div class="clear"></div>
        </div>
    </section><!--FECHA BOX HTML-->


<!--    <section class="section-seu-download container">-->
<!--        -->
<!--        <div class="content">-->
<!--            -->
<!--            <h1 class="section_title">Baixe seu código pronto</h1>-->
<!--            -->
<!--            <div class="box-download">-->
<!--                -->
<!--                <a href="#" class="btn-download"><i class="icon icon-cloud-download"></i> Baixar Agora</a>-->

<!--            </div>&lt;!&ndash;Box Download&ndash;&gt;-->


<!--        <div class="clear"></div>-->
<!--        </div>-->
<!--    </section>&lt;!&ndash;FECHA BOX SEU DOWNLOAD&ndash;&gt;-->

</main>

<footer class="main_footer container">
    <div class="main_footer_copy">

        <p class="m-b-footer"> H.S.O.B. - 2022, todos os direitos reservados.</p>
        <p class="by"><i class="icon icon-heart-3"></i> Desenvolvido por: https://github.com/carlosrbj</p>
    
    </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</body>
</html>