<!DOCTYPE html>
<html lang="pt_br"
      xmlns:th="http://thymeleaf.org/"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
      layout:decorator="layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Cadastro de Usuário</h3>

            <form action="" th:action="@{/save-user}" th:object="${userRequest}" th:method="POST">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-outline">
                    <input type="text" class="form-control form-control-lg" autofocus name="name" th:field="*{name}" placeholder="Nome Completo">
                    <label class="form-label">Nome Completo</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-outline">
                    <input th:field="*{social_name}" type="text" id="social_name" class="form-control form-control-lg">
                    <label class="form-label" for="social_name">Nome Social (Se Possuir)</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input th:field="*{document}" type="text" class="form-control form-control-lg" id="document">
                    <label for="document" class="form-label">Documento</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Tipo de documento: </h6>
                  <div class="form-check form-check-inline">
                    <input th:field="*{document_type}" class="form-check-input" type="radio" value="CPF">
                    <label class="form-check-label">CPF</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input th:field="*{document_type}" class="form-check-input" type="radio" value="RG">
                    <label class="form-check-label" >RG</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input th:field="*{document_type}" class="form-check-input" type="radio" value="OTHER">
                    <label class="form-check-label" >Other</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input th:field="*{email}" type="email" class="form-control form-control-lg">
                    <label class="form-label" >Email</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input th:field="*{phone}" type="tel" class="form-control form-control-lg">
                    <label class="form-label">Phone Number</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <select th:field="*{gender}" class="form-select form-select-lg" aria-label="Default select example" >
                    <option th:each="gender : ${genders}"
                            th:value="${gender.value}"
                            th:text="${gender.label}"
                    ></option>
<!--                    <option th:text="Gênero"></option>-->
<!--                    <option th:value="CISGENDER" th:text="Cisgenêro"></option>-->
<!--                    <option th:value="TRANSGENDER" th:text="Transgênero"></option>-->
<!--                    <option th:value="NOT-BINARY" th:text="Não-Binario"></option>-->
<!--                    <option th:value="INTERSEX" th:text="Intersex"></option>-->
                  </select>
                  <label class="form-label select-label">Genero</label>
                </div>

                <div class="col-md-6 mb-4">
                  <select th:field="*{gender_identity}" class="form-select form-select-lg" aria-label="Default select example">
                    <option th:each="genderIdentity : ${genderIdentities}"
                            th:value=${genderIdentity.value}
                            th:text="${genderIdentity.label}"
                    ></option>
<!--                    <option th:text="Identidade de Gênero"></option>-->
<!--                    <option th:value="MALE" th:text="Masculino"></option>-->
<!--                    <option th:value="FEMALE" th:text="Feminino"></option>-->
<!--                    <option th:value="TRANSMALE" th:text="Homem-Trans"></option>-->
<!--                    <option th:value="TRANSFEMALE" th:text="Mulher-Trans"></option>-->
                  </select>
                  <label class="form-label select-label">Identidade de Gênero</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input th:field="*{password}" type="text" class="form-control form-control-lg">
                    <label class="form-label">Senha</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input th:field="*{confirm_password}" type="text" class="form-control form-control-lg">
                    <label class="form-label" >Confirme o password</label>
                  </div>
                </div>
              </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Registrar">
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>